<h1 class="game-title">Deal or No Deal</h1>

<div class="game">

<div class="board" id="board">

    <div class="board-left">

        <div class="value value-true value-0.01" id="value-0.01">
            <p><span class="sym">$</span>.01</p>
        </div>

        <div class="value value-true value-1" id="value-1">
            <p><span class="sym">$</span>1</p>
        </div>

        <div class="value value-true value-5" id="value-5">
            <p><span class="sym">$</span>5</p>
        </div>

        <div class="value value-true value-10" id="value-10">
            <p><span class="sym">$</span>10</p>
        </div>

        <div class="value value-true value-25" id="value-25">
            <p><span class="sym">$</span>25</p>
        </div>

        <div class="value value-true value-50" id="value-50">
            <p><span class="sym">$</span>50</p>
        </div>

        <div class="value value-true value-75" id="value-75">
            <p><span class="sym">$</span>75</p>
        </div>

        <div class="value value-true value-100" id="value-100">
            <p><span class="sym">$</span>100</p>
        </div>

        <div class="value value-true value-200" id="value-200">
            <p><span class="sym">$</span>200</p>
        </div>

        <div class="value value-true value-300" id="value-300">
            <p><span class="sym">$</span>300</p>
        </div>

        <div class="value value-true value-400" id="value-400">
            <p><span class="sym">$</span>400</p>
        </div>

        <div class="value value-true value-500" id="value-500">
            <p><span class="sym">$</span>500</p>
        </div>

        <div class="value value-true value-750" id="value-750">
            <p><span class="sym">$</span>750</p>
        </div>

    </div>

    <div class="board-right">

        <div class="value value-true value-1000" id="value-1000">
            <p><span class="sym">$</span>1,000</p>
        </div>

        <div class="value value-true value-5000" id="value-5000">
            <p><span class="sym">$</span>5,000</p>
        </div>

        <div class="value value-true value-10000" id="value-10000">
            <p><span class="sym">$</span>10,000</p>
        </div>

        <div class="value value-true value-25000" id="value-25000">
            <p><span class="sym">$</span>25,000</p>
        </div>

        <div class="value value-true value-50000" id="value-50000">
            <p><span class="sym">$</span>50,000</p>
        </div>

        <div class="value value-true value-75000" id="value-75000">
            <p><span class="sym">$</span>75,000</p>
        </div>

        <div class="value value-true value-100000" id="value-100000">
            <p><span class="sym">$</span>100,000</p>
        </div>

        <div class="value value-true value-200000" id="value-200000">
            <p><span class="sym">$</span>200,000</p>
        </div>

        <div class="value value-true value-300000" id="value-300000">
            <p><span class="sym">$</span>300,000</p>
        </div>

        <div class="value value-true value-400000" id="value-400000">
            <p><span class="sym">$</span>400,000</p>
        </div>

        <div class="value value-true value-500000" id="value-500000">
            <p><span class="sym">$</span>500,000</p>
        </div>

        <div class="value value-true value-750000" id="value-750000">
            <p><span class="sym">$</span>750,000</p>
        </div>

        <div class="value value-true value-1000000" id="value-1000000">
            <p><span class="sym">$</span>1,000,000</p>
        </div>

    </div>

</div>

<div class="info-box">

    <div class="text-box" id="text-box">

    </div>

    <div class="offer-box" id="offer-box">

        <div class="offer">

            <p>$10,000</p>

        </div>

    </div>

    <div class="buttons">
        <div class="dond-buttons">

            <div class="deal-button" id="deal-button">

                <p>Deal!</p>

            </div>

            <div class="no-deal-button" id="no-deal-button">

                <p>No Deal!</p>

            </div>

        </div>

        <div class="banker-button" id="banker-button">

            <p>Get Bank Offer!</p>

        </div> 
    </div>

</div>

<div class="cases">

    <div class="case case-1" data-case="1">
        1
    </div>

    <div class="case case-2" data-case="2">
        2
    </div>

    <div class="case case-3" data-case="3">
        3
    </div>

    <div class="case case-4" data-case="4">
        4
    </div>

    <div class="case case-5" data-case="5">
        5
    </div>

    <div class="case case-6" data-case="6">
        6
    </div>

    <div class="case case-7" data-case="7">
        7
    </div>

    <div class="case case-8" data-case="8">
        8
    </div>

    <div class="case case-9" data-case="9">
        9
    </div>

    <div class="case case-10" data-case="10">
        10
    </div>

    <div class="case case-11" data-case="11">
        11
    </div>

    <div class="case case-12" data-case="12">
        12
    </div>

    <div class="case case-13" data-case="13">
        13
    </div>

    <div class="case case-14" data-case="14">
        14
    </div>

    <div class="case case-15" data-case="15">
        15
    </div>

    <div class="case case-16" data-case="16">
        16
    </div>

    <div class="case case-17" data-case="17">
        17
    </div>

    <div class="case case-18" data-case="18">
        18
    </div>

    <div class="case case-19" data-case="19">
        19
    </div>

    <div class="case case-20" data-case="20">
        20
    </div>

    <div class="case case-21" data-case="21">
        21
    </div>

    <div class="case case-22" data-case="22">
        22
    </div>

    <div class="case case-23" data-case="23">
        23
    </div>

    <div class="case case-24" data-case="24">
        24
    </div>

    <div class="case case-25" data-case="25">
        25
    </div>

    <div class="case case-26" data-case="26">
        26
    </div>

</div>
</div>
<script>

    var amounts = [0.01, 1, 5, 10, 25, 50, 75, 100, 200, 300, 400, 500, 750, 1000, 5000, 10000, 25000, 50000, 75000, 100000, 200000, 300000, 400000, 500000, 750000, 1000000]
    var currentOffer = false;
    var caseValue = false;
    var round = 1;

    var post = function(text) {

        var recent = document.getElementsByClassName("text-most-recent");
        for (var i = 0; i < recent.length; i++) {
            recent[i].classList.remove("text-most-recent");
        }

        var para = document.createElement("p");
        var node = document.createTextNode(text);
        para.classList.add("info-text");
        para.classList.add("text-most-recent");
        para.appendChild(node);

        textBox.prepend(para);
    }

    var getBankOffer = function() {
        
        var total = caseValue;
        var lowSum = 0;
        var highSum = 0;
        var factors = [0.07, 0.09, 0.13, 0.17, 0.2, 0.25, 0.33, 0.5, 0.5];
        var highFactors = [0.11, 0.16, 0.21, 0.26, 0.31, 0.41, 0.51, 0.61, 0.71];

        if(caseValue <= 75000) {
            lowSum += caseValue;
        }
        else {
            highSum += caseValue;
        };

        for(var i = 0; i < amounts.length; i++) {
            total += amounts[i];
            if(amounts[i] <= 75000) {
                lowSum += amounts[i];
            }
            else {
                highSum += amounts[i];
            };
        }

        var e = total/(amounts.length + 1);
        var c = amounts.length + 1;
        var m = amounts[amounts.length -1];
        if(m < caseValue) {
            m = caseValue;
        }
        
        console.log(lowSum);
        console.log(highSum);
        var offer = (lowSum * factors[round-1]) + ((highSum * factors[round-1]) * highFactors[round-1]);
        offer = Math.round(offer);
        var div = document.createElement("div");
        var para = document.createElement("p");
        var node = document.createTextNode("$ " + offer.toLocaleString());
        post("You have just been offered $" + offer.toLocaleString() + "! Deal? Or No Deal?");
        div.classList.add("offer");
        div.appendChild(para);
        para.appendChild(node);
        document.getElementById("offer-box").prepend(div);
        round += 1;
        currentOffer = offer;

        return offer;
    }

    var dealTaken = function() {
        if(currentOffer != false) {
            post("Congratulations, you just won $" + currentOffer.toLocaleString());
            currentOffer = false;
            var yourCase = document.getElementById('your-case');
            yourCase.classList.add('case-open');
            yourCase.innerHTML = "$ " + caseValue.toLocaleString();
        }
        else {
            post("You don't currently have an offer on the table. Open more cases or click \"Get Bank Offer\" ");
        }
    }

    var noDeal = function() {
        if(currentOffer != false) {
            post("You just turned down $" + currentOffer.toLocaleString() + ". It's time to open more cases!");
            currentOffer = false;
        }
        else {
            post("You don't currently have an offer on the table. Open more cases or click \"Get Bank Offer\" ")
        }
    }

    var textBox = document.getElementById("text-box")
    post("Please select your case.");

    var cases = document.getElementsByClassName("case");

    var caseSelected = false;

    var openCase = function() {
        if(caseSelected == false) {
            caseSelected = true;
            this.classList.add("your-case");
            this.setAttribute('id', 'your-case');
            this.removeEventListener('click', openCase);
            post("You have selected Case " + this.dataset.case);
            var amt = Math.floor(Math.random() * 26);
            caseValue = amounts[amt];
            amounts.splice(amt,1)
        }
        else {
            this.classList.add("case-open");
            this.removeEventListener('click', openCase);
            var amt = Math.floor(Math.random() * (amounts.length));
            this.innerHTML = "$ " + amounts[amt].toLocaleString();
            document.getElementById(`value-${amounts[amt]}`).classList.add("value-false");
            document.getElementById(`value-${amounts[amt]}`).classList.remove("value-true");
            amounts.splice(amt,1);
            
        };
    };

    for (var i = 0; i < cases.length; i++) {
        cases[i].addEventListener('click', openCase, false);
    }

    document.getElementById("banker-button").addEventListener('click', getBankOffer, false);

    document.getElementById("deal-button").addEventListener('click', dealTaken, false);

    document.getElementById("no-deal-button").addEventListener('click', noDeal, false);

</script>