<section class="row">

    <div class="row-image">

        <%= image_tag "library.jpg" %>

    </div>

    <div class="row-text">

        <h2 class="row-header">Library</h2>

        <hr class="row-break">

    </div>

</section>