$navy: #0f3c56;
$light-navy: #3d5975;
$gold: #f6be54;
$white: #fafafa;

$poppins: 'Poppins', 'Montserrat', 'Arial', sans-serif;
$lobster: 'Lobster', 'Poppins', 'Montserrat', 'Arial', sans-serif;
$orbitron: 'Orbitron', 'Poppins', 'Montserrat', 'Arial', sans-serif;

body {
    background-color: $white;
}